<html>
    <head>
        <title>SG1</title>
    </head>
    <body>
        @await Html.PartialAsync("Header")      

        @RenderBody()

        @await Html.PartialAsync("Footer")
    </body>
</html>